<h1>All Tasks</h1>


<p>Find me at app/views/tasks/index.html.erb </p>
<ul id="tasks">
  <% @tasks.each do |task| %>
    <li>
      <%#= task.title %>
      <%= link_to task.title, task_path(task),
            clas: ''
            class %>
    </li>
  <% end %>
</ul>