<h1><%= @task.title %></h1>
<p><%= @task.body %></p>
<%%>
<%= link_to "delete", task_path(@task), method: :delete, data: {confirm: "Really delete the task?"}
 %>
<%= link_to "<< Back to Task List", tasks_path %>
